<div class="card">
    <div class="card-body">
         <h1>about</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fuga, veniam exercitationem sequi nam voluptatum architecto quisquam quos nemo provident. Cum odit blanditiis nulla voluptas laudantium debitis quisquam corporis quae?</p>
    </div>
</div>