<style>
    div{
        color: black;
    }
</style>
<div class="jumbotron mt-4">
    <h1 class="display">Bienvenido a Notes</h1>
    <p class="lead">100$ el Premium</p>
    <hr class="my-4">
    <p>En esta pagina podras agregar notas para no olvidar tareas.</p>
    <a href="users/singin" class="btn btn-primary btn-lg">Comenzar</a>
</div>
