<div class="jumbotron mt-4">
    <h1 class="display">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
    <p class="lead"> Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quibusdam possimus id molestiae cupiditate similique consequatur amet vitae quia hic!</p>
    <a href="https://google.com" class="btn btn-primary btn-lg">google</a>
</div>