extends layouts/main

block content
  div.jumbotron.mt-4
    h1.display Bienvenido a Notes
    p.lead 100$ el Premium
    hr.my-4
    p En esta pagina podras agregar notas para no olvidar tareas.
    a.btn.btn-primary.btn-lg(href="users/singin") Comenzar
