body{
    background-color: black;
    color: white;
}
.btn-btn{
  color: white;
  text-decoration: none;
  font-family: Arial;
  padding: 15px;
  width: 10px;
  text-align: center;
}
.btn-btn:hover{
  text-decoration: none;
  font-family: Arial;
  background-color: white;
  color: black;
  border-radius: 10px;
}

/*singin*/
  body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #34495e;
  }
  .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
  }
  .box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus, .box input[type = "password"]{
    width: 240px;
    border-color: #2ecc71;
  }
  .box input[type = "submit"]{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }

  /*all-notes*/
  .card {
    margin: 7.3px;
 }
 .card-body {
   color: black;
   margin: 5px;
 }
 .more-notes{
   background-color: red;
   border-radius: 10px;
   padding: 5px;
   margin: 10px;
   text-align: center;
 }
 .AN{
   text-decoration: none;
   color: black;
 }
 .AN:hover{
   text-decoration: none;
   color: white ;
 }
 /*new-notes*/

 .card-header{
  color: black;
  background: red;
  text-align: center;
}
.err{
  text-align: center;
}
.can{
  color: white;
}
.can:hover{
  text-decoration: none;
  color: white;
}

/*singup*/

body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #34495e;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}
.box input[type = "text"], .box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus, .box input[type = "password"]{
  width: 240px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border: 0px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
.err{
  text-align: center;
}
