<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <br>
  <body>
    {{#if erroru}}
    <h2 class="err">El campo Usuario esta vacio</h2>
    <br>
    {{/if}}
    {{#if errorp}}
    <h2 class="err">El campo Contraseña esta vacio</h2>
    <br>
    {{/if}}
    <form class="box" action="/users/singup"  method="post">
      <h1>Iniciar Sesion</h1>
      <input type="text" name="username" value="" placeholder="Nombre de Usuario">
      <input type="password" name="password" value="" placeholder="Contraseña">
      <input type="submit" name="" value="Registrarse">
    </form>

  </body>
</html>
